<%- include('../adminLayout/adminHeader.ejs') %>
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Order List</h2>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <!-- <div>
                        <input type="text" placeholder="Search order ID" class="form-control bg-white" />
                    </div> -->
                </div>
                <div class="card mb-4">
                    
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Payment</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Date</th>
                                        <th scope="col" class="text-end">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  
                                        <tr>
                                              <% orders.forEach(function(order) { %>
                                            <td><%= order._id %></td>
                                            <td><b><%= order.user.firstName %> <%= order.user.lastName %></b></td>
                                            <td><%= order.user.email %></td>
                                            <td><%= order.totalAmount.toFixed(2) %></td>
                                            <td><%= order.payment %></td>
                                            <td><span class="badge rounded-pill alert-warning"><%= order.status %></span></td>
                                            <td><%= moment(order.createdAt).format('MMMM Do YYYY, h:mm:ss a') %></td>
                                            <td class="text-end">
                                                <a href="/admin/order-detail?orderid=<%= order._id%>" class="btn btn-md rounded font-sm">Detail</a>
                                                <div class="dropdown">
                                                    <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="#">View detail</a>
                                                        <a class="dropdown-item" href="#">Edit info</a>
                                                        <a class="dropdown-item text-danger" href="#">Delete</a>
                                                    </div>
                                                </div>
                                                <!-- dropdown //end -->
                                            </td>
                                        </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                        <!-- table-responsive //end -->
                    </div>
                    
                    <!-- card-body end// -->
                </div>
                <!-- card end// -->
                <div class="pagination-area mt-15 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <% for (let i = 1; i <= totalPages; i++) { %>
                              <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                              </li>
                            <% } %>
                          </ul>
                    </nav>
                </div>
            </section>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

            <!-- content-main end// -->
            <%- include('../adminLayout/adminFooter.ejs') %>