<%- include('../layouts/header.ejs') %>
		<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">
				<!--start breadcrumb-->
				<section class="py-3 border-bottom border-top d-none d-md-flex bg-light">
					<div class="container">
						<div class="page-breadcrumb d-flex align-items-center">
							<h3 class="breadcrumb-title pe-3">My Orders</h3>
							<div class="ms-auto">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb mb-0 p-0">
										<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i> Home</a>
										</li>
										<li class="breadcrumb-item"><a href="javascript:;">Account</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">My Orders</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
				</section>
				<!--end breadcrumb-->
				<!--start shop cart-->
				<section class="py-4">
					<div class="container">
						<h3 class="d-none">Account</h3>
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-lg-4">
										<div class="card shadow-none mb-3 mb-lg-0 border">
											<div class="card-body">
												<div class="list-group list-group-flush">	<a href="#" class="list-group-item  d-flex justify-content-between align-items-center ">Dashboard <i class='bx bx-tachometer fs-5'></i></a>
													<a href="/user-profile" class="list-group-item active d-flex justify-content-between align-items-center ">Profile <i class='bx bx-cart-alt fs-5'></i></a>
													<a href="/order/load-order" class="list-group-item  d-flex justify-content-between align-items-center ">Orders <i class='bx bx-cart-alt fs-5'></i></a>
													<a href="#" class="list-group-item d-flex justify-content-between align-items-center bg-transparent">Downloads <i class='bx bx-download fs-5'></i></a>
													<a href="/user-address" class="list-group-item d-flex justify-content-between align-items-center bg-transparent">Addresses <i class='bx bx-home-smile fs-5'></i></a>
													<a href="/pass-page" class="list-group-item  d-flex justify-content-between align-items-center bg-transparent">Change Password <i class='bx bx-credit-card fs-5'></i></a>
													<a href="/wallet/walletpg" class="list-group-item  d-flex justify-content-between align-items-center ">Wallet<i class='bx bx-cart-alt fs-5'></i></a>
													<a href="/order/coupon" class="list-group-item  d-flex justify-content-between align-items-center">Coupons<i class='bx bx-user-circle fs-5'></i></a>
													<a href="/refer-link" class="list-group-item  d-flex justify-content-between align-items-center">Refferal<i class='bx bx-user-circle fs-5'></i></a>

													<a href="/logout" class="list-group-item d-flex justify-content-between align-items-center bg-transparent">Logout <i class='bx bx-log-out fs-5'></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-8">
										<div class="card shadow-none mb-0">
											<div class="card-body">
												
									
												<div class="table-responsive">
													<table class="table">
														<thead class="table-light">
															<tr>
																<th>Image</th>
																<th>Name</th>
																<th>Price</th>
																<th>Status</th>
																<th>Actions</th>
															</tr>
														</thead>
														<tbody>
															<% orderData.forEach(function(order) { %>
																<tr>
																	<td>
																		<img src="/products/<%= order.productDetails.productImages[0] %>" alt="Completed Image" width="100" height="100">
																	</td>
																	<td>
																		<%= order.productDetails.productName %>
																	</td>
																	<td>
																		<%= order.items.price %>
																	</td>
																	<td>
																		<%= order.items.status %>
																	</td>
																	<td>
																		<div class="d-flex gap-2">
																			<a href="/order/details?orderId=<%= order._id %>&productId=<%= order.items.product_id %>" class="btn btn-dark btn-sm rounded-0">View</a>


																			
																			<div id="orderStatus">
																				<% if (order.items.status === 'cancelled') { %>
																					<span style="color: red;">Cancelled</span>
																				<% } else { %>
																					<form id="cancelForm" method="POST" action="/order/remove/<%= order._id %>">
																						<button type="button" id="cancelButton">Cancel</button>
																					</form>
																				<% } %>
																			</div>
																			
																			
																			  
																			<a href="/order/invoice?id=<%= order._id %>" class="btn btn-primary btn-sm rounded-0" download>Download</a>
																		</div>
																	</td>
																</tr>
															<% }); %>
														</tbody>
													</table>
													
												</div>
												
												
											</div>
										</div>
									</div>
									
								</div>
								<!--end row-->
							</div>
						</div>
					</div>
				</section>
				<!--end shop cart-->
			</div>
		</div>
		<!--end page wrapper -->
		<script>
			document.addEventListener("DOMContentLoaded", function() {
    // Get the cancel button and the cancel form
    var cancelButton = document.getElementById('cancelButton');
    var cancelForm = document.getElementById('cancelForm');

    // Add event listener to the cancel button
    cancelButton.addEventListener('click', function(event) {
        // Display a confirmation dialog
        var confirmed = confirm("Are you sure you want to cancel this order?");

        // If the user confirms the cancellation
        if (confirmed) {
            // Submit the form for cancellation
            cancelForm.submit();
        }
    });
});

		</script>
		<%- include('../layouts/footer.ejs') %>